@import "./styles/variables";

#app {
  overflow: hidden;
  position: relative;
}

nav {
  background-color: $black;
}

main {
  background:
    linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) -0.52%,
        rgba(15, 20, 32, 0.79) 99.48%
      )
      no-repeat center fixed,
    url("./images/earth-in-space.svg") no-repeat center fixed;
  background-color: $background-color;
  background-size: cover;
}

section {
  background-color: $background-color;
}

footer {
  text-align: center;
  background-color: $black;
  p {
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
    color: $primary;
    margin: 0;
    padding-bottom: 19px;
  }
}
