@import './styles/variables';
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300,400,500,700,800");

body {
  margin: 0;
  padding: 0;
  color: $white;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
