@import "../../styles/variables";

.offers {
  padding: 50px 0;
  h4 {
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 20px;
  }
  p {
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    opacity: 0.6;
    margin: 0;
  }
  .readMoreLabel {
    color: $primary;
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;

    &:hover {
      cursor: pointer;
      opacity: 0.6;
    }
  }
  .readMoreButton {
    display: none;

    &:checked {
      & ~ .hiddenDescription {
        height: auto;
        max-height: 1000px;
        transition: max-height 0.5s ease-in;
      }
    }
  }
  .hiddenDescription {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-out;
    margin-bottom: 20px;
  }
  .container {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 30px;

    div {
      flex: 100%;
      align-content: flex-end;
      background-size: cover;
      height: 280px;
      border-radius: 10px;
      padding: 35px;

      h2 {
        font-size: 40px;
        line-height: 40px;
        font-weight: 700;
        margin-bottom: 22px;
      }

      p {
        font-size: 16px;
        line-height: 19px;
        font-weight: 700;
        margin: 22px 0;
      }
    }

    div:first-child,
    div:last-child {
      flex: 100%;
    }

    div:first-child {
      background:
        linear-gradient(
            180deg,
            rgba(0, 0, 0, 0) 0%,
            rgba(15, 20, 32, 0.79) 100%
          )
          no-repeat center,
        url("../../images/offer1-bg.svg") no-repeat center;
      background-size: cover;
    }

    div:nth-child(2) {
      background:
        linear-gradient(
            180deg,
            rgba(0, 0, 0, 0) 0%,
            rgba(15, 20, 32, 0.79) 100%
          )
          no-repeat center,
        url("../../images/offer2-bg.svg") no-repeat center;
      background-size: cover;
    }

    div:nth-child(3) {
      background:
        linear-gradient(
            180deg,
            rgba(0, 0, 0, 0) 0%,
            rgba(15, 20, 32, 0.79) 100%
          )
          no-repeat center,
        url("../../images/offer3-bg.svg") no-repeat center;
      background-size: cover;
    }

    div:last-child {
      background:
        linear-gradient(
            180deg,
            rgba(0, 0, 0, 0) 0%,
            rgba(15, 20, 32, 0.79) 100%
          )
          no-repeat center,
        url("../../images/offer4-bg.svg") no-repeat center;
      background-size: cover;
    }
  }
}

@media #{$md-up} {
  .offers {
    padding: 55px 0 53px;
    h4 {
      font-size: 24px;
      line-height: 28px;
      margin-top: 55px;
      margin-bottom: 13px;
    }
    p {
      font-size: 16px;
      line-height: 19px;
    }
    .readMoreLabel {
      font-size: 16px;
      line-height: 19px;
    }
    .container {
      div {
        flex: 25%;
      }
      div:first-child,
      div:last-child {
        flex: 25%;
      }
    }
  }
}

@media #{$lg-up} {
  .offers {
    padding: 58px 0 60px;
    h4 {
      font-size: 32px;
      line-height: 38px;
      margin-top: 62px;
      margin-bottom: 17px;
    }
    p {
      font-size: 20px;
      line-height: 24px;
    }
    .hiddenDescription {
      margin-bottom: 17px;
    }
    .readMoreLabel {
      font-size: 20px;
      line-height: 24px;
    }
    .container {
      div:first-child,
      div:last-child {
        flex: 100%;

        h2 {
          font-size: 72px;
          line-height: 72px;
        }
      }
    }
  }
}
